---
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import { sort } from "src/libs/collections.ts";
import { mainRoutes, subRoutes } from "src/libs/routes.ts";

export type Props = {
  current?: keyof typeof mainRoutes;
  currentSlug?: string;
};

const { data: config } = await getEntry("settings", "config");

const { current, currentSlug } = Astro.props;
const projects = sort(await getCollection("projects"));
const instants = sort(await getCollection("instants"));
---

<header class="top">
  <a href="/" class="title">{config.title}</a>
  <span aria-hidden="true" class="decorator"
    >- - - - - - - - - - - - - --- - - - - ----->>>>>></span
  >
  <nav aria-label="Navigation principale" class="primary-nav">
    <ul role="list">
      <li>
        <a href={mainRoutes.home} aria-current={current === "home"}
          >{config.navigation.home.label}</a
        >
      </li>
      <li>
        <a href={mainRoutes.projects} aria-current={current === "projects"}
          >{config.navigation.projects.label}</a
        >
      </li>
      <li>
        <a href={mainRoutes.instants} aria-current={current === "instants"}
          >{config.navigation.instants.label}</a
        >
      </li>
      <li>
        <a href={mainRoutes.about} aria-current={current === "about"}
          >{config.navigation.about.label}</a
        >
      </li>
    </ul>
  </nav>
  <nav aria-label={config.navigation.projects.label} class="secondary-nav">
    <ul role="list">
      {
        current === "projects" &&
          projects.map((el) => (
            <li>
              <a
                href={subRoutes.projectsItem(el.slug)}
                aria-current={el.slug === currentSlug}
              >
                {el.data.title}
              </a>{" "}
            </li>
          ))
      }
      {
        current === "instants" &&
          instants.map((el) => (
            <li>
              <a
                href={subRoutes.instantsItem(el.slug)}
                aria-current={el.slug === currentSlug}
              >
                {el.data.title}
              </a>{" "}
            </li>
          ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    grid-column: wide;
  }
  .title {
    font-size: var(--step-1);
    text-decoration: none;
  }
  .decorator {
    display: block;
    margin-block-start: var(--space-xl);
  }
  .primary-nav {
    margin-block-start: 1em;
  }
  .primary-nav li {
    display: inline-block;
  }
  .primary-nav li + li {
    margin-inline-start: var(--space-s);
  }
  .secondary-nav {
    margin-block-start: var(--space-xl);
    padding-inline-start: var(--space-m);
  }
  .secondary-nav li {
    display: inline-block;
  }
  nav a {
    color: inherit;
    text-decoration: none;
  }
  nav a[aria-current] {
    text-decoration: underline wavy var(--clr-accent);
  }
  .secondary-nav [aria-current] {
    font-weight: bold;
  }
</style>
